In [2]:
9

9

In [3]:
"start"

'start'

In [4]:
print(45)

45

In [8]:
hkldjhasdnmbhasvbzxasdv

NameError: name 'hkldjhasdnmbhasvbzxasdv' is not defined

nklasdbvhsdfcnm,

In [5]:
print(3+3-4*3+9)

3

In [6]:
3+3-4*3+9

3

### What is a Variable???

---

In programming, a variable is a value that can change, depending on conditions or on information passed to the program.  <br>
Typically, a program consists of instructions that tell the computer what to do and data that the program uses when it is running.

---

SyntaxError: invalid syntax (<ipython-input-7-23d4861e965e>, line 3)

#### Conventional rules to naming or defining a variable in programming (Python)
---
* A variable name must and can never start with an integer(Number)
* Apart from underscore (_), no other special character should be begin or be in a variable name (!@#$%^*()-"':;><./|\)
* When you have more than one variable name, always choose the snake_case for clarity sake e.g 'myname' is a valid variable name but 'my_name' is readable
* A python keyword should never be used as a variable as this could cause future conflicts

---

In [ ]:
# example of valid variable name

my_name = "something"
car_name = "some car"
My_name = "something else"
My_Name = "something else 2"
_my_name = "Confirm"


# example of invalid variable names
@my_name
#my_name
()my_var


# example of valid but not conventional
myvar = 56
MyVar = 56
myVar = 56

In [10]:
class = 10

print(class)

SyntaxError: invalid syntax (<ipython-input-10-56f03bbc1e64>, line 1)

In [11]:
list = 10

print(list)

10

In [12]:
x = 34

print(x)

34

In [13]:
num_1 = 56

num_2 = 12

print(num_1 + num_2)

68

In [15]:
num_1 = 23

num_2 = 34

print(num_1 + num_2)

57

### Datatypes

***Text Type:	str***<br>
***Numeric Types:	int, float, complex*** <br>
***Boolean Type:	bool (True and False)***

In [16]:
first_str_data = 'Victor'  # first string with a single quote
second_str_data = "Han"  # second string with a double quote
third_str_data = """is"""  # third string with a triple quote

int_data = 41    # integer
float_data = 3.412  #float datatype

first_bool = True # Boolean with True Value
second_bool = False   # Boolean with False Value

In [18]:
print(type(first_str_data))

<class 'str'>

In [19]:
print(type(second_str_data))

<class 'str'>

In [20]:
print(type(third_str_data))

<class 'str'>

In [21]:
fourth_str_data = "1234567"

print(type(fourth_str_data))

<class 'str'>

In [22]:
type(int_data)

int

In [23]:
type(float_data)

float

In [24]:
type(first_bool)

bool

In [25]:
type(second_bool)

bool

In [26]:
input()

jkdhfdshbgh

'jkdhfdshbgh'

In [1]:
user_input = input("Enter your name: ")

user_age =  input("Enter your age: ")


print(user_input, user_age)

Enter your name: Hi, you are weolcom
Enter your age: 23
Hi, you are weolcom 23

You can use the len() function to check the number of characters in an array, for example strings, list, tuples, set, dictionary but never can it work on a number or float

In [2]:
x = len(user_input)

print(x)

19

In [3]:
# What happens if you want to use len on a number, an error will be thrown

x =  len(23)

print(x)

TypeError: object of type 'int' has no len()

In [30]:
type(user_age)

str

### Operations on datatypes

---
The operations in programming are relative, what you can do with some operators using a datatype is usually unique to the datatype <br>

We have several Operations kindly use this [link](https://www.w3schools.com/python/python_operators.asp) to learn the operators and how they work

---

In [42]:
x = 34
y = 24.3

str_1 = 'Victor'
str_2 = 'Han'

print(x + y)

58.3

In [32]:
print(str_1 + str_2)

VictorHan

In [34]:
print(str_1 + ", " + str_2)

Victor, Han

In [35]:
print(str_1 + x)

TypeError: can only concatenate str (not "int") to str

### Type Casting

__Some times you might need to convert or "cast" an object to another datatype__ : This could be done by closing the object to be cast inside the desired datatype oject

In [36]:
y = int(y)

print(y)

24

In [37]:
x = float(x)


print(x, type(x))

34.0 <class 'float'>

In [40]:
convertible_str = '1276'

convertible_str = int(convertible_str)

print(convertible_str, type(convertible_str))

1276 <class 'int'>

In [41]:
inconvertible_str = 'Boston'

inconvertible_str = int(inconvertible_str)

print(inconvertible_str)

ValueError: invalid literal for int() with base 10: 'Boston'

In [44]:
print(str_1 + str(x))

Victor34

### Conditionals

___Conditionals for the basics for control flow in programs___<br>


Basically, in python, we have the if, elif and else block <br>

<strong>

The if block runs whenever the condition is true, if false, checks if there is an elif block and continues this operation until there is an else block to be executed
</strong> <br>

So whatb happens if there is no "else" block???

<br>
run the program below to check

In [4]:
user_age = int(input("Enter your age: "))

if user_age >= 18:
  print("You are old enough to vote!")

Enter your age: 12

## Inference:

Exactly, nothing happens because the condition is wrong, we must handle this either in the elif or the else block <br>

## NB: Note that the 'elif' is usually followed by the 'else' block

In [5]:
if user_age < 0:
  print("You haven't been born yet!")
elif user_age > 0 and user_age < 18:
  print("You are not old enough to vote!")
else:
  print("You are old enough to vote")

You are not old enough to vote!